@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

:root {
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);

    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
}

*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-color: var(--pale-blue);
    background-size: 100%;
    font-family: "Red Hat Display", sans-serif;
    font-size: 16px;
    color: var(--dark-blue);
}
button {
    font-family: "Red Hat Display", sans-serif;
}

.main-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    border-radius: 10px;
    overflow: hidden;
    max-width: 450px;
    min-width: 330px;
    min-height: 570px;
    max-height: 690px;
    box-shadow: 0px 10px 25px -10px var(--desaturated-blue);
    text-align: center;
    background-color: #fff;
    margin: 50px;
}

.card__img {
    width: 100%;
}

.card__container {
    max-width: 320px;
    margin: 0 auto;
}
.card__title {
    margin-top: 50px;
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 20px;
}

@media (max-width: 500px) {
    .card__title {
        margin-top: 25px;
    }
}

.card__description {
    line-height: 25px;
    width: 320px;
    text-align: center;
    margin: 0 auto;
    color: var(--desaturated-blue);
    transition: width 0.4s;
}

@media (max-width: 500px) {
    .card__description {
        width: 278px;
    }
}

.card__select-plan {
    display: flex;
    width: 320px;
    justify-content: space-between;
    background-color: var(--very-pale-blue);
    border-radius: 10px;
    padding: 20px;
    margin: 25px auto 25px;
    transition: width 0.3s;
}

@media (max-width: 500px) {
    .card__select-plan {
        width: 278px;
    }
}

.card__anual-block {
    flex-grow: 1;
    margin: 0 auto 0 10px;
    text-align: left;
}

.card__title-plan {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 900;
}
.card__price {
    color: var(--desaturated-blue);
}

.card__change {
    align-self: center;
    font-weight: 700;
    font-size: 14px;
    color: var(--bright-blue);
}
.card__change:hover {
    text-decoration: none;
    color: #766cf1;
}

.card__button {
    height: 45px;
    width: 320px;
    border-radius: 10px;
    border: 0px;
    display: block;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.4px;
    margin: 0 auto;
    margin-bottom: 10px;
    transition: all 0.3s;
    cursor: pointer;
}

@media (max-width: 500px) {
    .card__button {
        width: 278px;
    }
}

.card__button--proceed {
    background-color: var(--bright-blue);
    color: var(--very-pale-blue);
    box-shadow: 10px 10px 10px var(--pale-blue);
    transition: 0.2s;
}
.card__button--proceed:hover {
    background-color: #766cf1;
}

.card__button--cancel {
    background-color: transparent;
    color: var(--desaturated-blue);
}
.card__button--cancel:hover {
    color: var(--dark-blue);
}
