@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

:root {
    /* Primary colors */
    --very-dark-blue: hsl(233, 47%, 7%);
    --dark-desaturated-blue: hsl(244, 38%, 16%);
    --soft-violet: hsl(277, 64%, 61%);

    /* Neutral colors */
    --white: hsl(0, 0%, 100%);
    --slightly-transparent-white: hsla(0, 0%, 100%, 0.75);
    --slightly-transparent-white-stat: hsla(0, 0%, 100%, 0.6);

    /* Tipografias */
    --font-primary: "Inter", sans-serif;
    --font-secundary: "Lexend Deca", sans-serif;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

body {
    background-color: var(--very-dark-blue);
    height: 100%;
}

.main-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 1110px;
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--dark-desaturated-blue);
    display: flex;
    justify-content: space-between;
    color: var(--white);
    font-family: var(--font-primary);
    transition: width 0.1s;
}

@media (max-width: 1110px) {
    .card {
        width: 326px;
        height: 780px;
        justify-content: flex-end;
        flex-direction: column-reverse;
        transition: width 0.1s;
    }
}

.card__accent {
    color: var(--soft-violet);
}

.card__info-block {
    margin: 70px;
    max-width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
@media (max-width: 1110px) {
    .card__info-block {
        margin: 32px;
    }
}

.card__title {
    font-size: 36px;
}
@media (max-width: 1110px) {
    .card__title {
        font-size: 28px;
        text-align: center;
    }
}

.card__paragraph {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.8px;
    padding-top: 20px;
    flex-grow: 2;
    color: var(--slightly-transparent-white);
}
@media (max-width: 1110px) {
    .card__paragraph {
        text-align: center;
        letter-spacing: 0.7px;

        padding-bottom: 25px;
    }
}
.card__stats {
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
}
@media (max-width: 1110px) {
    .card__stats {
        flex-direction: column;
        text-align: center;
        height: 208px;
        width: 100%;
    }
}

.card__li-number {
    font-weight: 700;
    font-size: 24px;
    padding-bottom: 10px;
}

.card__li-title {
    letter-spacing: 0.8px;
    font-size: 12px;
    font-weight: 400;
    font-family: var(--font-secundary);
    color: var(--slightly-transparent-white-stat);
}

.card__image {
    background-image: url("../images/image-header-desktop.jpg");
    background-repeat: no-repeat;
}

.card__image:before {
    content: "";
    width: 540px;
    height: 446px;
    display: block;
    position: relative;
    background-color: hsl(277, 64%, 61%, 0.7);
    filter: contrast(100%);
}

@media (max-width: 1110px) {
    .card__image,
    .card__image::before {
        background-size: cover;
        height: 240px;
        width: 100%;
    }
}
