/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

:root {
    /* primary */
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);

    /* paragraphs */
    --transparent-white: hsla(0, 0%, 100%, 0.75);

    /* background, headings, buttons */
    --very-light-gray: hsl(0, 0%, 95%);

    /* Family */
    --font-primary: "Lexend Deca", sans-serif;
    --font-bold: "Big Shoulders Display", cursive;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.orange {
    background-color: var(--bright-orange);
}
.green {
    background-color: var(--dark-cyan);
}
.dark-green {
    background-color: var(--very-dark-cyan);
}

body {
    font-family: var(--font-primary);
    width: 100vw;
    height: 100vh;
    background-color: var(--very-light-gray);
}
.container {
    height: 100%;
    display: flex;
    align-items: center;
}

.card {
    border-radius: 6px;
    overflow: hidden;
    margin: auto;
    width: 920px;
    display: flex;
    align-items: center;
}
@media (max-width: 924px) {
    .card {
        flex-direction: column;
        width: 326px;
        margin-top: 65px;
    }
}

.card__item {
    height: 498px;
    padding: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
@media (max-width: 924px) {
    .card__item {
        height: 442px;
    }
}
.card__icon {
    /* margin: 3px 3px; */
    width: 64px;
}
.card__title {
    color: var(--very-light-gray);
    font-family: var(--font-bold);
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 5px;
}
@media (max-width: 924px) {
    .card__title {
        padding: 32px 0;
    }
}

.card__paragraph {
    color: var(--transparent-white);
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.5px;
    margin-bottom: 50px;
    margin-top: -2px;
}
@media (max-width: 924px) {
    .card__paragraph {
        margin-bottom: 20px;
    }
}
.card__button {
    font-family: var(--font-primary);
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.2px;
    mix-blend-mode: screen;
    cursor: pointer;
    border: 2px solid var(--transparent-white);
    border-radius: 50px;
    width: 70%;
    height: 48px;
    transition: background-color 0.3s;
}
.card__button:hover {
    background-color: transparent;
    color: #fff;
    border: 2px solid var(--transparent-white);
}
@media (max-width: 924px) {
    .card__button {
        width: 64%;
    }
}

/* accesibility */
.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
